<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <script src="https://www.paypal.com/sdk/js?client-id=Abi-tFO7Nfxc6q7doqlQsSjd8x_VlUfueibPo8VFynIkSiWQDwaWcN_jfeCpnMvaX_HduV1XmsZz0w0c&merchant-id=79DU2M62AS2YL&currency=USD"></script>

    <title>client-app</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but client-app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
